<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title Example document
    body
        .header
            h1 hello from pug!!
            h2 hey123
            h3 continue 
        script(src='js/main.js')
        .footer 
            h1 example 1
        script(src='js/main.js')